# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Visual_to_EEG_KD_for_CER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
